* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.container {
      background-image: url('images/bg2.jpeg');                  
      background-position: center;
      background-attachment: fixed-top;
      background-size: contain;
      background-size: 60%;
      color: white;
      text-align: center;
}

.content {
      color: #fff;
      max-width: 900px;
      margin: 0 auto; 
}

.top_section {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.top_section h1 {
      font-size: 80px;
      margin-right: 100px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
}

.top_section h4 {
      font-size: 30px;
      text-align: end;
}

.about_section {
      margin: 50px 0 30px 0;
      position: relative;
      color: #000;
      background: rgba(255, 255, 255, .1);
      backdrop-filter: blur(2.5px);
      border: 2px solid rgba(255, 255, 255, 0.2);
      border-radius : 16px;
      padding: 0 20px 30px 20px;
}

.about_section h2 {
      text-align: left;
      margin: 50 0px 10px 10px ;
      font-size: 40px;
      font-weight: 300;
}

.about_section p {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 1.2px;
      text-align: justify;
}

.biography_section {
      margin: 10px 0;
      color: #000;
      background: rgba(255, 255, 255, .1);
      backdrop-filter: blur(2.5px);
      border: 2px solid rgba(255, 255, 255, 0.2);
      border-radius : 16px;
}

.biography_section h3 {
      text-align: left;
      margin: 0 0px 20px 20px ;
      font-size: 40px;
      font-weight: 300;
}

.biography_section ul {
      margin-left: 50px;
}

.biography_section li {
      margin-bottom: 10px;
      text-align: left;
      font-size: 20px ;
      letter-spacing: 0.5px;
}

footer {
      margin: 30px 20px;
      color: #000;
}

footer p {
      text-align: end;
      font-size: 20px;
      font-weight: 300;
      padding-bottom: 20px;
}